{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}
    <h1>Information Gathered</h1>
    The only information gathered by Bitcoin Pouch is that given by the user explicitly and created through the normal
    transaction of bitcoins.
    
    <h1>Use of Information</h1>
    The information gathered from the user will be used only to secure the user's account (viz. username and password)
    and supply the user with urgent notices (viz. email address) and password reset information in the event the user forgets their password.
{% endblock %}
